In [1]:
import numpy as np
import pandas as pd  
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df=df.dropna()

In [4]:
df=df.drop(['Loan_ID'],axis=1)

In [5]:
df['ApplicantIncome'] = df['ApplicantIncome'].astype(float)

In [13]:
import numpy as np
try:
    d1=pd.get_dummies(df['Gender'],drop_first=True)  
except:
    d1 = np.nan

In [14]:
import numpy as np
try:
    d2=pd.get_dummies(df['Married'],drop_first=True)  
except:
    d2 = np.nan

In [15]:
import numpy as np
try:
    d3=pd.get_dummies(df['Dependents'],drop_first=True)  
except:
    d3 = np.nan

In [16]:
import numpy as np
try:
    d4=pd.get_dummies(df['Education'],drop_first=True)  
except:
    d4 = np.nan

In [17]:
import numpy as np
try:
    d5=pd.get_dummies(df['Self_Employed'],drop_first=True)  
except:
    d5 = np.nan

In [18]:
import numpy as np
try:
    d6=pd.get_dummies(df['Property_Area'],drop_first=True)  
except:
    d6 = np.nan

In [19]:
df1=pd.concat([df,d1,d2,d3,d4,d5,d6],axis=1)
df=df1

In [20]:
cols=['Gender','Married','Dependents','Education','Self_Employed','Property_Area']
df=df.drop(columns=cols,axis=1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ApplicantIncome    480 non-null    float64
 1   CoapplicantIncome  480 non-null    float64
 2   LoanAmount         480 non-null    float64
 3   Loan_Amount_Term   480 non-null    float64
 4   Credit_History     480 non-null    float64
 5   Loan_Status        480 non-null    object
 6   Male               480 non-null    uint8
 7   Yes                480 non-null    uint8
 8   1                  480 non-null    uint8
 9   2                  480 non-null    uint8
 10  3+                 480 non-null    uint8
 11  Not Graduate       480 non-null    uint8
 12  Yes                480 non-null    uint8
 13  Semiurban          480 non-null    uint8
 14  Urban              480 non-null    uint8
dtypes: float64(5), object(1), uint8(9)
memory usage: 30.5+ KB

In [22]:
df.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Male,Yes,1,2,3+,Not Graduate,Yes,Semiurban,Urban
1,4583.0,1508.0,128.0,360.0,1.0,N,1,1,1,0,0,0,0,0,0
2,3000.0,0.0,66.0,360.0,1.0,Y,1,1,0,0,0,0,1,0,1
3,2583.0,2358.0,120.0,360.0,1.0,Y,1,1,0,0,0,1,0,0,1
4,6000.0,0.0,141.0,360.0,1.0,Y,1,0,0,0,0,0,0,0,1
5,5417.0,4196.0,267.0,360.0,1.0,Y,1,1,0,1,0,0,1,0,1

In [23]:
df['Married_yes']=df['Yes']

ValueError: Expected a 1D array, got an array with shape (480, 2)